<nav class="navbar2 allow-select">
  <div class="posSetLeft2">
    <ul>
      <li><a href="/linemaker">Sobol<span>BET</span></a></li>
    </ul>
  </div>
  <div class="posSetRight2">
    <ul>
      <li><a (click)="onUnpublishedMatchesClicked()">Unpublished matches</a></li>
      <li><a (click)="onLineMatchesClicked()">Line matches</a></li>
      <li><a (click)="onLiveMatchesClicked()">Live matches</a></li>
      <li><a (click)="onCreateMatchClicked()">Create match</a></li>
      <li><a (click)="onLogout()">Logout</a></li> <!-- Добавленная кнопка Logout -->
    </ul>
  </div>
</nav>
