<header>
  <app-linemaker-nav-bar (unpublishedMatchesClicked)="onIsUnpublishedMatchesClicked()"
                         (lineMatchesClicked)="onIsLineMatchesClicked()"
                         (liveMatchesClicked)="onIsLiveMatchesClicked()"
                         (createMatchClicked)="onIsCreateMatchClicked()"
                         (matchSettlementClicked)="onIsMatchSettlementClicked()">
  </app-linemaker-nav-bar>
</header>

<ng-container *ngIf="isUnpublishedMatchesClicked">
  <app-linemaker-unpublished-matches (setOddsRequested)="onSetOddsClicked($event)"></app-linemaker-unpublished-matches>
</ng-container>

<ng-container *ngIf="isLineMatchesClicked">
  <app-linemaker-line-matches (manageMatchRequested)="onManageMatchClicked($event)"></app-linemaker-line-matches>
</ng-container>

<ng-container *ngIf="isLiveMatchesClicked">
  <app-linemaker-live-matches></app-linemaker-live-matches>
</ng-container>

<ng-container *ngIf="isCreateMatchClicked">
  <app-linemaker-create-match></app-linemaker-create-match>
</ng-container>

<!-- Новый компонент для настройки коэффициентов -->
<ng-container *ngIf="isSetOddsClicked && selectedMatchId">
  <app-linemaker-set-odds-match [matchId]="selectedMatchId"
                          (backToList)="goBackToUnpublishedMatches()">
  </app-linemaker-set-odds-match>
</ng-container>

<ng-container *ngIf="isManageMatchClicked && selectedMatchId">
  <app-linemaker-manage-line-match [matchId]="selectedMatchId"
                                (backToList)="goBackToLineMatches()">
  </app-linemaker-manage-line-match>
</ng-container>

<ng-container *ngIf="isMatchSettlementClicked">
  <app-settlement-list
    (openSettlementMatchRequested)="onOpenSettlementMatchClicked($event)">
  </app-settlement-list>
</ng-container>

<ng-container *ngIf="isSettlementMatchDetailsClicked && selectedMatchId">
  <app-settlement-details
    [matchId]="selectedMatchId"
    (backToList)="goBackToSettlementMatches()">
  </app-settlement-details>
</ng-container>
